---

---

<style>
  .block-hero {
    /* background-color: brown; */
    width: 100%;
    height: 80vh;
    position: relative;

    background-image: linear-gradient(
        to bottom,
        #fff 0%,
        transparent 20% 85%,
        #fff 98%
      ),
      url(/images/BG2.webp);

    background-size: cover;
    background-repeat: no-repeat;

    & h2 {
      position: absolute;
      left: 18%;
      top: 10%;
      font-family: var(--font-title);
      font-weight: bolder;
      text-align: right;
      line-height: 2rem;
        color: #4592bb;
      & strong {
        --border-color: #000;

        background: linear-gradient(15deg, #0063ab 1%, #5bb7e7 30%, #60c3f8 67%, #fffb 75%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        color: transparent;
        font-size: 6rem;

        filter: 
          drop-shadow(2px -2px 3px #0003) drop-shadow(0 0 1px #fff2);
      }
      & p {
        font-family: var(--font-body);
        margin: 0px;
        font-weight: 500;
      }
    }

   &.dark{
      background-image: linear-gradient(
        to bottom,
        #1a1a1a 0%,
        transparent 20% 85%,
        #1a1a1a 98%
      ),
      url(/images/BG2.webp);
    }
  }
  

</style>

<div class="block-hero">
  <h2><strong>Historias</strong><br/>
  <p>QUE SÍ SE CUENTAN</p></h2>
  
</div>

