---
import SwitchTheme from "@/components/SwitchTheme.astro";
---

<style>
    header {
        /*background-color: blueviolet;*/
        max-width: 1200px;
        margin: 2rem auto;
        /* padding-top: 2rem ; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }


</style>

<header>
    <div class="logo">
        <a href="/">
            <img class="logo-combo" 
            src="/images/logos/logo-combo.png" 
            alt="Logotipo de JustSetGo" 
            width="250" 
            height="auto">
        </a>
    </div>

    <div class="icons-support">
    </div>
        <SwitchTheme/>
</header>