---

---

<style>
  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;

    background-image: linear-gradient(
        to bottom,
        var(--bg-color) 0%,
        transparent 10% 90%,
        var(--bg-color) 98%
      ),
      url(/images/BG3.webp);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    padding: 40px;
  }
  h3,
  .cta-button {
    font-family: var(--font-title);
    font-size: xx-large;
    margin: 5px;
  }

  p {
    font-family: var(--font-body);
    margin: 0px;
    font-size: x-large;
    font-weight: 300;
  }

  .cta-button {
    background: linear-gradient(to bottom right, #ef4765, #ff8038);
    border: 0;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: large;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }

  .cta-button:not([disabled]):focus {
    box-shadow:
      0 0 0.25rem rgba(0, 0, 0, 0.5),
      -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
      0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
  }

  .cta-button:not([disabled]):hover {
    box-shadow:
      0 0 0.25rem rgba(0, 0, 0, 0.5),
      -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
      0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
  }
</style>

<div class="cta-container">
  <div class="cta">
    <h3>EXPLORA EL MUNDO</h3>
    <p>¡Reserva tu viaje ideal ahora!</p>
    <a href="https://justsetgo-webapp.netlify.app/" class="cta-button">VAMOS</a>
  </div>
</div>
