---

---

<style>
  .container {
    max-width: 60%;
    margin: 10rem auto;
    display: grid;

    grid-template-columns: 1fr 2fr;
    justify-content: end;

    & .container-text {
      padding-right: 5rem;
      & h2 {
        margin: -1rem;
        font-family: var(--font-title);
        font-size: 2.5rem;
        text-align: right;
      }
      & p {
        font-family: var(--font-body);
        font-size: x-large;
        font-weight: 400;
        text-align: right;
      }
    }
  }

  .bento {
    --size: 750px;
    display: grid;
    width: var(--size);
    height: var(--size);

    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem;

    & .item {
      background-size: cover;
      background-position: 50%;

      color: white;
      font-size: 20px;
      align-items: end;
      display: flex;
      flex-direction: row-reverse;
      border-radius: 10px;

      & p {
        background-color: #0000007e;
        font-family: var(--font-body);
        font-weight: 200;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
      }
    }

    .item-1 {
      background-image: url(/images/bento/japon.webp);
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }
    .item-2 {
      background-image: url(/images/bento/sidney.webp);
    }
    .item-3 {
      background-image: url(/images/bento/ottawa.webp);
    }
    .item-4 {
      background-image: url(/images/bento/nueva-york.webp);
      grid-column: 4;
      grid-row: 1 / span 2;
    }
    .item-5 {
      background-image: url(/images/bento/mexico.webp);
    }
    .item-6 {
      background-image: url(/images/bento/rabat.webp);
    }
    .item-7 {
      background-image: url(/images/bento/egipto.webp);
      grid-column: 1 / span 2;
      grid-row: 4;
    }
    .item-8 {
      background-image: url(/images/bento/tailandia.webp);
      grid-column: 3;
      grid-row: 3 / span 2;
    }
    .item-9 {
      background-image: url(/images/bento/roma.webp);
    }
    .item-10 {
      background-image: url(/images/bento/argentina.webp);
    }
  }
</style>

<div class="container">
  <div class="container-text">
    <h2>Disfruta mucho con tus viajes</h2>
    <p>¿Cuál será el tuyo?</p>
  </div>
  <div class="bento">
    <div
      class="item item-1"
      data-aos="zoom-in-up"
      data-aos-delay="100"
      data-aos-duration="500"
    >
      <p>Japón</p>
    </div>
    <div
      class="item item-2"
      data-aos="zoom-in-up"
      data-aos-delay="200"
      data-aos-duration="500"
    >
      <p>Australia</p>
    </div>
    <div
      class="item item-3"
      data-aos="zoom-in-up"
      data-aos-delay="300"
      data-aos-duration="500"
    >
      <p>Canadá</p>
    </div>
    <div
      class="item item-4"
      data-aos="zoom-in-up"
      data-aos-delay="400"
      data-aos-duration="500"
    >
      <p>EE.UU.</p>
    </div>
    <div
      class="item item-5"
      data-aos="zoom-in-up"
      data-aos-delay="500"
      data-aos-duration="500"
    >
      <p>México</p>
    </div>
    <div
      class="item item-6"
      data-aos="zoom-in-up"
      data-aos-delay="600"
      data-aos-duration="500"
    >
      <p>Marruecos</p>
    </div>
    <div
      class="item item-7"
      data-aos="zoom-in-up"
      data-aos-delay="700"
      data-aos-duration="500"
    >
      <p>Egipto</p>
    </div>
    <div
      class="item item-8"
      data-aos="zoom-in-up"
      data-aos-delay="800"
      data-aos-duration="500"
    >
      <p>Tailandia</p>
    </div>
    <div
      class="item item-9"
      data-aos="zoom-in-up"
      data-aos-delay="900"
      data-aos-duration="500"
    >
      <p>Roma</p>
    </div>
    <div
      class="item item-10"
      data-aos="zoom-in-up"
      data-aos-delay="1000"
      data-aos-duration="500"
    >
      <p>Argentina</p>
    </div>
  </div>
</div>
