---

---

<style>
    .footer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        background-color: #00215042;
        background-image: linear-gradient(
        to bottom,
        var(--bg-color) 0%,
        transparent 10% 100%,
        var(--bg-color) 98%
    );
    }

    .contact {
        text-align: center;
        & img {
            width: 20px;
            height: 20px;
        }
    }

    p {
        font-family: var(--font-body);
        font-size: large;
        font-weight: 300;
        text-align: center;   
    }
</style>

<div class="footer-container">
    <div class="logo">
        <img class="logo-footer" src="/images/logos/logo.png" height="200px" alt="Logo de JustSetGo">
    </div>
    <div class="resumen">
        <p>JustSetGo es una plataforma dedicada <br> a ayudarte a planificar y organizar tus viajes <br> de manera eficiente.</p>
    </div>
    <div class="contact">
        <p>Albacete, Castilla-La Mancha, España</p>
        <p>contacto@justsetgo.com</p>
        <img class="logo-github" src="/images/rrss/GitHub_light.svg" alt="Icono de Github">
        <img src="/images/rrss/whatsapp.svg" alt="Icono de Whatsapp">
        <img src="/images/rrss/twitter.svg" alt="Icono de Twitter">
        <img class="logo-insta" src="/images/rrss/Instagram_light.svg" alt="Icono de Instagram">
    </div>
</div>