---

---

<style>
    .collab-container {
        max-width: 60%;
        margin: 5rem auto;
        display: flex;
        flex-wrap: wrap;
       /*  grid-template-rows: 1fr 1fr;
        justify-content: end; */
        font-family: var(--font-title);
                overflow: hidden;
        margin-bottom: 15rem; /* DE FORMA PROVISIONAL */ 

        h2{
            width: 100%;
            text-align: center;
            font-size: 3rem;
        }

        & .collab {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        column-gap: 3rem;
        width: calc((1800px*3) + (3rem*4*3));
        margin: 0 auto;
        position: relative;
         animation: scroll 70s linear infinite;

         & .item{
            display: flex;
            align-items: center;
            justify-content: center;
             & img{
            width: 300px;
         }

         }
        

        
        }

    }

     @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

    
</style>

<div class="collab-container">
    <h2>Nuestros colaboradores</h2>
   
    <div class="collab">
        <div class="item item-1">
            <img src="/images/collabs/iberia.png" alt="Iberia" />
        </div>
        <div class="item item-2">
            <img src="/images/collabs/air_europa.png" alt="Air Europa" />
        </div>
        <div class="item item-3">
            <img src="/images/collabs/vueling.png" alt="Vueling" />
        </div>
        <div class="item item-4">
            <img src="/images/collabs/airnostrum.png" alt="Airnostrum">
        </div>
        <div class="item item-5">
            <img src="/images/collabs/volotea.png" alt="Volotea">
        </div>
        <div class="item item-6">
            <img src="/images/collabs/wamos.png" alt="Wamos">
        </div>






        <div class="item item-1">
            <img src="/images/collabs/iberia.png" alt="Iberia" />
        </div>
        <div class="item item-2">
            <img src="/images/collabs/air_europa.png" alt="Air Europa" />
        </div>
        <div class="item item-3">
            <img src="/images/collabs/vueling.png" alt="Vueling" />
        </div>
        <div class="item item-4">
            <img src="/images/collabs/airnostrum.png" alt="Airnostrum">
        </div>
        <div class="item item-5">
            <img src="/images/collabs/volotea.png" alt="Volotea">
        </div>
        <div class="item item-6">
            <img src="/images/collabs/wamos.png" alt="Wamos">
        </div>


        <div class="item item-1">
            <img src="/images/collabs/iberia.png" alt="Iberia" />
        </div>
        <div class="item item-2">
            <img src="/images/collabs/air_europa.png" alt="Air Europa" />
        </div>
        <div class="item item-3">
            <img src="/images/collabs/vueling.png" alt="Vueling" />
        </div>
        <div class="item item-4">
            <img src="/images/collabs/airnostrum.png" alt="Airnostrum">
        </div>
        <div class="item item-5">
            <img src="/images/collabs/volotea.png" alt="Volotea">
        </div>
        <div class="item item-6">
            <img src="/images/collabs/wamos.png" alt="Wamos">
        </div>
    </div>

</div>
