---


---

<button class="btn-arrow-prev">
    <svg viewBox="0 0 24 24" fill="none">
<path d="M13 8L9 12M9 12L13 16M9 12H21M19.4845 7C17.8699 4.58803 15.1204 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C15.1204 21 17.8699 19.412 19.4845 17" stroke="var(--color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>

</svg>
</button>

<style>
    .btn-arrow-prev{
        --size: 4rem;
        --color: #ff8038;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        background-color: transparent;
        border-color: var(--color);
        /* opacity: 0.6; */
    }
</style>