---
// hay que instalar la libreria de splidejs
// npm install @splidejs/splide
// o pnpm add @splidejs/splide
import '@splidejs/splide/css'; // Estilos base de Splide
---

<style>
  .splide {
    margin: 0 auto;
    padding: 2rem;
    width: auto;
    height: auto;
    font-family: 'Quicksand', sans-serif;
    background-color: blue;
  }

  .splide__slide {
    text-align: center;
    background: #d41919;
    border-radius: 12px;
    padding: 1rem;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .splide__slide img {
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 1rem;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.2);
  }

  h3 {
    margin: 0.5rem;
  }
</style>

<div class="splide" id="destinos-carrusel">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img src="/images/carrusel/paris.avif" alt="París">
        <h3>París</h3>
        <p>Romanticismo, historia y buena comida.</p>
      </li>
      <li class="splide__slide">
        <img src="/images/carrusel/roma.avif" alt="Roma">
        <h3>Roma</h3>
        <p>Ruinas antiguas y arte por todas partes.</p>
      </li>
      <li class="splide__slide">
        <img src="/images/carrusel/bali.avif" alt="Bali">
        <h3>Bali</h3>
        <p>Playas, templos y tranquilidad.</p>
      </li>
    </ul>
  </div>
</div>

<script type="module">
  import Splide from '../../node_modules/@splidejs/splide';

  document.addEventListener('DOMContentLoaded', () => {
    new Splide('#destinos-carrusel', {
      type: 'loop',
      perPage: 1,
      autoplay: true,
      interval: 2000,
      arrows: true,
      pagination: true,
    }).mount();
  });
</script>