:root {
  --bg-color: white;
  --text-color: rgb(7, 7, 7);
  --font-title: Quicksand, Roboto, sans-serif;
  --font-body: Outfit, Jost, sans-serif;
}

.dark {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}